<br>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-body">
          <div class="col-lg-6 text-left">
            <h2 class="font-light m-b-xs">
            Day Calculation
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='setup-view-restaurant-name' class="row">
  <div class="col-lg-12">
  <div class="col-lg-12">
    <div class="hpanel">
      <div class="panel-body">
      <% if @changes.any? %>
        <% @changes.each do |change| %>
          <p><%= change.change_string %></p>
        <% end %>
      <% else %>
        <p>There are no changes yet.</p>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>