<div id="reports-view">
  <br>
  <%= render partial: "dashboard/reports/header" %>
  <%= render partial: "dashboard/reports/form" %>
  <br>
  <%= render partial: "dashboard/reports/statistics" %>
</div>