<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-body">
          <div class="col-lg-6 text-left">
            <h2 class="font-light m-b-xs">
            Reports
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>