.pages-privacy, .pages-terms {

  header.header {
    height: 100px;
  }

  .privacy-wrapper, .terms-wrapper {
    margin: 50px auto;
    width: 90%;
    max-width: 1000px;

    h2 {
      margin-top: 30px;
    }

    a {
      color: #36BFDB;
    }
  }
}