<div class="terms-wrapper">
  <h1>Terms of Service</h1>

  <p>Terms of Service Summary: Here's an attempt at briefly and concisely summarizing some key points of these Terms of Service in non-legal-jargon.</p>

  <p>You acknowledge that we cannot, unfortunately, guarantee that everything will go totally smoothly all the time.</p>

  <p>You are responsible for using our system in a responsible manner, including uploading only data you should be uploading, abstaining from malicious or illegal behavior, protecting your password, respecting the integrity of the system, and respecting its users and its creators (that’s us!).</p>

  <p>After your trial, you’ll be billed monthly. You can cancel anytime you’d like. If you cancel, your account is archived by default. You can tell us to delete your data, if you don’t want it archived.</p>

  <p>As the creators and curators of the system, we can change, add, and remove things, and we can also limit, throttle, suspend, or discontinue your account if it is deemed necessary.</p>

  <p>You are welcome to use our API, but you do so at your own risk, and your access can be throttled or terminated if it is deemed to be an abuse/overuse of the tool.</p>

  <p>If you have any questions about this stuffy document, please contact us.</p>

  <p>Remember to read below for details -- this section is not a substitute for the actual Terms of Service, just a brief summary!</p>

  <p>The following terms and conditions govern all use of the TipMetric.com website (“Service”) and all content, services and products available at or through the website. The Service is owned and operated by TipMetric, LLC. (“TipMetric”). The Service is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, TipMetric’s Privacy Policy) and procedures that may be published from time to time on this Site by TipMetric (collectively, the “Agreement”).</p>

  <p>Please read this Agreement carefully before accessing or using the Service. By accessing or using any part of the website, you agree to become bound by the terms and conditions of this agreement. If these terms and conditions are considered an offer by TipMetric, acceptance is expressly limited to these terms. The failure of TipMetric to exercise or enforce any right granted in the Terms of Service shall not constitute a waiver of such rights, and the Terms of Service at all times constitutes the complete agreement between you and TipMetric, superceding and prior agreements.</p>

  <h2>General Terms</h2>

  <p>If you do not agree to these Terms of Service, you must stop using the Service immediately. You may only use the Service upon agreeing to these Terms.</p>

  <p>You must be at least 13 years old to use the Service.</p>

  <p>Your use of the Service is undertaken at your own risk. The Service is presented “as is” and “as available.”</p>

  <p>You must provide a valid name, a valid email address, and any other information requested as a part of the signup process.</p>

  <p>The security of your password and account name are solely your responsibility. The Service cannot be held responsible or liable for any loss resulting from the failure to comply with this security obligation.</p>

  <p>You may not use the Service for any unauthorized or illegal purposes. You may not use the Service in violation of any laws in your jurisdiction.</p>

  <p>You are responsible for the all activity that occurs under your account, including posted Content. You are also responsible for all activity and Content posted by others who have accounts under your account.</p>

  <p>TipMetric does not expressly guarantee or warrant that your use of the Service will meet your requirements, nor that your use of the Service will be uninterrupted or free from error. TipMetric does not expressly guarantee that any and all defects in the operation of the Service will be corrected.</p>

  <p>Technical support is provided via email and phone, and is available to both trial users and paying users. TipMetric reserves the right to refuse support for any reason.</p>

  <p>You acknowledge and understand that TipMetric uses third party vendors and hosting partners to provide the necessary infrastructure (hardware, software, networking, storage, etc.) to run the Service.</p>

  <p>Abuse of any TipMetric user or employee (written, physical, or verbal) will result in immediate account termination.</p>

  <p>You may not use the Service to transmit any malicious code, such as viruses or worms.</p>

  <p>If your usage far exceeds the average of other TipMetric users, TipMetric reserves the right to deactivate your account until a time at which your usage can be restored to more normal levels.</p>

  <p>TipMetric cannot be held responsible for any damages, loss, or harm (direct, indirect, incidental, or otherwise) resulting from a lack of access to the Service, the result of any Content stored in the Service or the procurement thereof, unauthorized access to your account, data, or transmissions, or any other matter relating to the Service.</p>

  <h2>Payment and Refunding Terms</h2>

  <p>A valid credit card is required to maintain an active account after the end of the free trial period.</p>

  <p>All accounts are granted a 14-day free trial upon registration. After the trial has ended, a notification will be posted on your account and a grace period of approximately five days will commence. If at the end of the grace period payment information has not been entered, the account is subject to archiving or deletion by the Service.</p>

  <p>If payment information is entered prior to the end of the trial period, the first month’s payment will be billed immediately. Any remaining trial days will be added to the subsequent monthly payment cycle.</p>

  <p>The service is billed monthly or  yearly in advance and is non-refundable. TipMetric will consider requests for refunds of the latest month’s payment at their discretion.</p>

  <p>Failed charges: If TipMetric is unable to bill your credit card, your account will enter the dunning process and you will then have 5 days from the failed charge date to update your card information before we limit your access to your account. Accounts that have been terminated may be reactivated if valid payment information is entered and the card can be successfully processed for all charges accrued on the account since the failed credit card charge.</p>

  <p>Your subscription will automatically renew at the end of the subscription term unless you cancel it as provided in the policy.</p>

  <p>All fees issued by the Service are exclusive of taxes, levies, or duties imposed by the relevant taxing authorities of your jurisdiction. You shall be responsible for any such taxes, levies, or duties.</p>

  <p>

  <h2>Cancellation Terms</h2>

  <p>If you wish to cancel your account with the Service, you are responsible for properly ensuring this cancellation. While the Service may assist you in cancellation in the event of your account via email or phone, an email or phone call is not considered cancellation. Cancellation can be completed at any time by opening your account settings and clicking the button that reads "Cancel your account."</p>

  <p>If you cancel your account in advance of your billing date for the upcoming month, your credit card will not be charged again.</p>

  <p>All of the information in your account is subject to indefinite archiving or deletion upon the cancellation of your account. Should any of your data remain on the Service’s servers after cancellation, no data will be viewed or disseminated in any way without your consent. You may request that we fully delete all of your data upon your cancellation.</p>

  <p>TipMetric reserves the right to suspend or terminate your account at any time and for any reason if it deems such action necessary. Such cancellation will subject your account’s data to the deletion or archiving previously detailed. TipMetric reserves the right to refuse service to anyone, at any time, and for any reason.</p>

  <p>TipMetric also reserves the right to throttle access or impose limitations on use at any time for any reason deemed necessary.</p>

  <p>Once a user submits a request for cancellation, no additional charges will be made. However, no refunds (prorated or otherwise) are provided upon cancellation. In the interest of fairness to all of our clients, no exceptions will be made.</p>

  <h2>Modification Terms</h2>

  <p>TipMetric reserves the right to suspend or discontinue the Service (or any part of the Service) at any time, and for any length of time, with or without notice.</p>

  <p>Prices for the service are subject to change with 30 days notice from TipMetric. Such notice may be provided via TipMetric.com, the Service itself, and/or email notification to the address provided upon registration.</p>

  <p>TipMetric is not liable to you or any third party for any changes made to the service, alterations to the pricing of the Service, or discontinuation of the Service.</p>

  <p>You acknowledge that the Service is subject to change in form at any time without your prior consent as TipMetric works to improve and innovate upon the existing Service.</p>

  <h2>Content Terms</h2>

  <p>All content added to the Service must comply with US copyright law.</p>

  <p>You retain ownership of and intellectual property rights over any Content added to your account in TipMetric, in accordance with TipMetric’s privacy policy.</p>

  <p>TipMetric reserves the right to remove Content that is available via the Service at its discretion. TipMetric is not obligated to remove Content from the Service at any time.</p>

  <p>You may not copy, sell, distribute, reverse-engineer, duplicate, or otherwise attempt to extract the source code of the Service or any part thereof. All aspects of the Service, including functionality and design, are copyright ©2017 TipMetric, LLC, all rights reserved.</p>

  <h2>Indemnification</h2>

  <p>The user agrees to indemnify and hold Tipmetric LLC., its directors, officers and employees, harmless from any claim, demand, or damage, including legal fees, asserted by any third party due to or arising out of the user's use of or conduct on the Site.</p>

  <h2>Maximum Liability</h2>

  <p>Except as specified in these Terms, the maximum liability of  TipMetric, LLC., is the amount paid to TipMetric, LLC by the customer upto $500.</p>

  <h2>Limited Warranties</h2>

  <p>Except as specified in these Terms, to the maximum extent permitted under applicable law, the Service provided by TipMetric LLC., is provided "as is" without any kind of warranty. Except as specified in these Terms, we are not responsible for any loss, injury, claim, liability, damage, or consequential damage related to your use of the Service, or inaccessibility of the Service whether from errors or omissions in the content of this Service or any other linked sites or for any other reason. Use of this Service is at your own risk. TipMetric LLC., does not represent or warrant that the Site, its server or any linked sites are free of any harmful materials.</p>

  <h2>Enforcement</h2>

  <p>If any part of the Terms or the Site's Disclaimer cannot be enforced for any reason, this decision will not affect the validity of the remainder of the Terms and Disclaimer which will continue to be in full force and effect.</p>

  <h2>Governing Law</h2>

  <p>The Terms are governed by the laws of the State of New York. You consent to the exclusive jurisdiction of the courts of the State of  New York.</p>

  <h2>Use With Your Mobile Device</h2>

  <p>Use of these Services may be available through a compatible mobile device, Internet and/or network access and may require software. You agree that you are solely responsible for these requirements, including any applicable changes, updates and fees as well as the terms of your agreement with your mobile device and telecommunications provider. TIPMETRIC MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO: (i) THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME OR FROM ANY LOCATION; (ii) ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND (iii) ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR SETTINGS CONNECTED WITH THE SERVICES.</p>

  <h2>No Liability for Lost Data</h2>

  <p>Where TipMetric provides web hosting or other services via the Website involving the provision of computer storage space, or in relation to other relevant Services, TipMetric reserves the right to impose and vary limits and/or restrictions (temporary or otherwise) on the use of the Service, including, without limitation, limits on the storage provided by reference to storage space, time/age of files, number and/or size of files, amount of data down- or uploaded or any other criteria TipMetric may specify. Without limiting the following paragraph, material, which exceeds any such limit, may be deleted or not accepted for such storage.</p>

  <p>TipMetric shall not be liable for any loss, deletion, removal or failure of delivery to the intended recipient of User Content, whether caused by computer virus, unauthorized access or otherwise. You are encouraged to retain a back-up copy of all User Content and you undertake that you shall do so in respect of all uploaded User Content. TipMetric reserves the right to deny access to this site and delete User Content at any time without notice.</p>

  <h2>API Terms</h2>

  <p>In the event that you access your TipMetric account through an API (Application Program Interface), you understand that TipMetric is not liable for any damages (direct, indirect, incidental, or otherwise) resulting from the use of the API or third-party products that access your data via the API.</p>

  <p>If TipMetric determines that you have abused your access to the Service’s API, TipMetric may terminate your account’s access to the API, temporarily or permanently. Actions that constitute abuse are at the discretion of TipMetric.</p>

  <p>TipMetric reserves the right to terminate or suspend your account’s access to the API at any time with or without notice, for any reason.</p>

  <p>There are no specific limits on API usage, but TipMetric reserves the right to throttle access if the usage is deemed excessive.</p>

  <h2>Miscellaneous</h2>

  <p>This Agreement constitutes the entire agreement between TipMetric and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of TipMetric, or by the posting by TipMetric of a revised version.</p>

  <p>Except to the extent applicable law, if any, provides otherwise, this Agreement and any access to or use of the Website will be governed by the laws of the state of New York, U.S.A., excluding its conflict of law provisions. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in Manhattan, New York, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees.</p>

  <p>You agree that we may reference you as our customer, and that we may reasonably use, on a royalty-free basis, your trademark or logo for such purpose.</p>

  <p>If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.</p>

  <p>You may not assign your rights under this Agreement to any other party without TipMetric’s express written consent; TipMetric may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>

  <p>Force Majeure. Except for payment obligations, neither TipMetric nor Customer will be liable by reason of any failure or delay in the performance of its obligations on account of events beyond the reasonable control of a party, which may include denial-of-service attacks, a failure by a third party hosting provider or utility provider, shortages, riots, fires, acts of God, war, strikes, terrorism, and governmental action.</p>

  <p>Questions or feedback regarding the Terms of Service agreement can be directed to TipMetric support at <%= mail_to "hello@TipMetric.com" %>.</p>

</div>