<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      Somebody just left message.
    </p>
    <p><i><%= @message.text %></i></p>
    <p>From <%= @message.name %> (<%= @message.email %>)</p>
  </body>
</html>